.text-typing {
  padding: 20px 30px;
  background: #000000;
  font-size: 5vw;
  color: rgb(255, 255, 255);
  font-family: 'Possible', monospace;
  border-radius: 50px;
  margin: auto;
  width: 70%;
}
.text-typing p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards, blink 1s infinite;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid rgb(255, 255, 255);
  }
}

@font-face {
  font-family: 'Possible';
  src: local('Possible'),
    url(/../assets/fonts/DefinitelyPossible.ttf) format('truetype');
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
