<div id="top-bar">
  <a [routerLink]="['/']">
    <a href="" id="Twitter" target="_blank"><img src="" width="64" /></a>
  </a>

  <a [routerLink]="['/test']">
    <a href="" id="Twitter" target="_blank"><img src="" width="64" /></a>
  </a>

  <a [routerLink]="['/']">
    <a href="" id="Twitter" target="_blank"><img src="" width="64" /></a>
  </a>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
